@import './themes';
@import './utils';

html::-webkit-scrollbar {
  width: 0;
}

/* # Mind Map Color effect with vuetify thmee */
body>div:nth-child(5) {
  color: black;
}

// ! stopDisable click event propagation
.v-color-picker-canvas>canvas,
.v-color-picker-canvas>.v-color-picker-canvas__dot {
  pointer-events: none;
}
